header {
  display: flex;
  align-items: center;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: translateY(0);
  opacity: 1;
  width: max-content;
  position: fixed;
  z-index: 999999;
  top: 12px;
  right: 12px;
}

.hidden {
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
}