@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

.language-label {
    width: auto;
    font-family: 'Tilt Warp';
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
    color: #F5F5F5;
}

.language-icon {
    width: 34px;
    height: 34px;
}

.language-button {
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    width: 144px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}