.Button-link {
    width: 188px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    border-radius: 5px;
}

.Button-label {
    font-family: 'Noto Sans JP';
    width: 97px;
    height: 25px;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
}