:root {
  --main-text-color: #242525;
  --grey-text-color: #9D9F9F;
  --accent-color: #F5F5F5;
  --based-color: #242525;
  --primery-color: #57B3E1;
}

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

html,
body {
  font-family: "Noto Sans JP";
}
