.sub-title {
    color: #9D9F9F;
    font-weight: 900;
}

.home-sub-title {
    width: 440px;
    height: 36px;
    font-size: 30px;
    font-weight: 400;
}

.section-sub-title {
    width: 449px;
    height: 43px;
    font-size: 36px;
    font-weight: 900;
}