.title {
    font-weight: 900;
    color: #F5F5F5;
    font-size: 96px;
}

.home-title {
    width: 537px;
    height: 115px;
}

.section-title {
    width: 419px;
    height: 115px;
}

.t-highlight {
    color: #1E89E0;
}