.title {
    font-weight: 900;
    color: #F5F5F5;
    font-size: 96px;
}

.section-title {
    height: 115px;
}

.title-container-center {
    align-items: center;
    text-align: center;
}

.title-container-left {
    align-items: flex-start;
    text-align: left;
}

.title-container-right {
    align-items: flex-end;
    text-align: right;
}

.sub-title {
    color: #9D9F9F;
    font-weight: 900;
}

.section-sub-title {
    width: 449px;
    height: 43px;
    font-size: 36px;
    font-weight: 900;
}